<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT"/>
    </Appenders>
    <Loggers>
        <Logger name="io.payworks.labs.tcpmocker" level="trace"/>

        <Root level="warn">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>